<header>
  <div class="header-container">
    <div class="header-image">
      <img src="assets/image/header.jpg" alt="Magic VenteStock">
    </div>
    <div class="header-image-filter"></div>
    <div class="header-header">
      <h1 class="header-title">Magic Vente Stock</h1>
      <ul class="header-menu">
        <li class="header-menu-details">Accueil</li>
        <li>
          <button class="btn  header-connect-button">Se connecter</button>
        </li>
      </ul>
    </div>
    <div class="header-description">
      <p class="header-description-content">Chers visiteurs, collectionneurs, magiciens, aficionados<br/>
        ou amateurs éclairés! <br/>
        Bienvenue sur le site de la boutique magique de GondorChic, <br/>
        l’antre des objets magiques et de l’illusion.</p>
    </div>
  </div>
</header>
