<header>
  <div class="header-container">
    <div class="header-image">
      <img src="assets/image/header.jpg" alt="Magic VenteStock">
    </div>
    <h1 class="app-title-name">{{appName}}</h1>
    <p class="app-title-description">Chers visiteurs, collectionneurs, magiciens, aficionados<br/>
      ou amateurs éclairés! <br/>
      Bienvenue sur le site de la boutique magique de GondorChic, <br/>
      l’antre des objets magiques et de l’illusion.</p>
    <button class="connect-button">Se connecter</button>
  </div>
</header>
