<footer>
  <div class="foot-container">

    <div class="image-fond">

      <img src="assets/image/background.jpg" alt="Magic VenteStock" class="background-image">
    </div>
    <div class="footer-image-filter"></div>
    <div class="texte">
      <h1 class="name">Magic vente stock</h1>

      <p class="contenu">La caverne de l’étrange vous ouvre ses portes.
        <br>
        Faites bon usage de la connaissance et des<br> articles que vous découvrirez.</p>


      <ul class="contenu1">
        <li>ACCEUIL</li>
        <li></li>
      </ul>


       <ul class="contenu2">
          <li>FAQ</li>
          <li>NOUS CONTACTER</li>
      </ul>
    </div>
  </div>
</footer>
