.container {
    text-align: center;
    color: #333;
    padding: 20px;
}

.header {
    background-color: white;
    color: #837346;
    padding: 20px;
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: bold;
}

h2 {
    color: #666;
}

.search {
    margin-top: 20px;
}

input {
    margin: 10px;
    padding: 10px;
    border-radius: 0px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border-radius: 0px;
    border: none;
    background-color: #837346;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
}