.all-product{
    margin: 50px;
    text-align: center;
}

.all-product > h1{
    font-size: 42px;
    color: #837346;
    margin-bottom: 65px;
}

.pagination {
    margin-top: 100px;
    text-align: center;
  }
  
  .page-button {
    padding: 5px 10px;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #E4E4E4;
    color: black;
    border: none;
    font-size: 20px;
  }
  
  .page-button:hover {
    background-color: #d0d0d0;
  }

  .page-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .page-button.active {
    background-color: #a9a9a9;
  }