<div class="all-product">
  <h1>Nos produits</h1>
  <div *ngFor="let product of displayedProducts">
    <app-product-item
      [imageSrc]="product.imageSrc"
      [name]="product.name"
      [price]="product.price"
      [isReverse]="(currentPage + displayedProducts.indexOf(product)) % 2 !== 0">
    </app-product-item>
  </div>
  <div class="pagination">
    <button class="page-button" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">
      <<
    </button>
    <button class="page-button" *ngFor="let page of totalPages" (click)="onPageChange(page)" [class.active]="currentPage === page">
      {{ page }}
    </button>
    <button class="page-button" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages.length">
      >>
    </button>
  </div>
</div>
