<div class="all-product">
  <h1>Nos produits</h1>
  <div class="container">
    <h2>Laissez nous vous aider à chercher</h2>
    <form>
      <div>
        <label for="keyword">Mot clé</label>
        <input type="text" id="keyword" name="keyword" />
      </div>
      <div>
        <label for="min-price">Prix minimum</label>
        <input type="number" id="min-price" name="min-price" />
      </div>
      <div>
        <label for="max-price">Prix maximum</label>
        <input type="number" id="max-price" name="max-price" />
      </div>
      <button type="submit">Rechercher</button>
    </form>
  </div>

  <div *ngFor="let product of displayedProducts">
    <app-product-item
      [imageSrc]="product.imageSrc"
      [name]="product.name"
      [price]="product.price"
      [isReverse]="(currentPage + displayedProducts.indexOf(product)) % 2 !== 0"
    >
    </app-product-item>
  </div>
  <div class="pagination">
    <button
      class="page-button"
      (click)="onPageChange(currentPage - 1)"
      [disabled]="currentPage === 1"
    >
      <<
    </button>
    <button
      class="page-button"
      *ngFor="let page of totalPages"
      (click)="onPageChange(page)"
      [class.active]="currentPage === page"
    >
      {{ page }}
    </button>
    <button
      class="page-button"
      (click)="onPageChange(currentPage + 1)"
      [disabled]="currentPage === totalPages.length"
    >
      >>
    </button>
  </div>
</div>
